body {
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

/*Contenedor principal*/
.information {
    height: 100vh;
    display: flex;
}

/*Contenedor descripción*/
.second-information {
    position: absolute;
    top: 130px;
    left: 190px;
}

/*Titulo*/
.second-information h1 {
    position: relative;
    top: 29px;
}

h1 {
    color: #0866ff;
    font-size: 58px;
}

p {
    font-size: 28px;
}

/*Contenedor de formulario*/
.container-form {
    width: 396px;
    height: 57%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 9px;
    position:absolute;
    right: 200px;
    top: 130px;
}

/*Estilos de inputs*/
input {
    display: block;
    margin: 17px;
    width: 360px;
    font-size: 17px;
    height: 42px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    text-indent: 10px;
}

input:focus {
    outline: 1px solid #0866ff;
}

/*Boton inicio de sesion*/
.btnSesion {
    background-color: #0866ff;
    color: white;
    display: block;
    height: 48px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    width: 370px;
    margin: 16px auto;
    cursor: pointer;
    font-weight: bold;
}

/*Link de olvidar contraseña*/
.forget {
    text-align: center;
}

/*Estilos de links*/
a {
    text-decoration: none;
    color: #0866ff;
    font-size: 14px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/*Linea divisora entre botones*/
.linea {
    border-bottom: 1px solid #dadde1;
    margin: 20px 15px;
}

/*Boton de crear nueva cuenta*/
.new-account {
    background-color: #42b72a;
    color: white;
    border: none;
    font-size: 17px;
    line-height: 47px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 190px; 
    margin-left: 50%;
    transform: translateX(-50%);
}



